#See http://www.pip-installer.org/en/latest/requirements.html for details
setuptools>=34.4.0 # needed for Windows with MSVC
pip>=22.3.1
wheel>=0.38.4
cmake>=3.14 #>=3.7, >=3.14 needed for MSVC 2019, >=3.21 needed for MSVC 2022
## for python bindings (in /bindings/py/)
numpy>=1.23
pytest>=4.6.5 #4.6.x series is last to support python2, once py2 dropped, we can switch to 5.x 
## for python code (in /py/)
hexy>=1.4.4 # for grid cell encoder
mock>=3.3 # for anomaly likelihood test
prettytable>=3.5.0 # for monitor-mixin in htm.advanced (+its tests)
## optional dependencies, such as for visualizations, running examples
# should be placed in setup.py section extras_require. Install those by
# pip install htm.core[examples] 
requests
